---
layout: layouts/base.njk
title: Starter Page
bodyClass: starter-page-page
---

<div class="page-title light-background">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0">Starter Page</h1>
    <nav class="breadcrumbs">
      <ol>
        <li><a href=\"{{ '/' | url }}\">Početna</a></li>
        <li class="current">Starter Page</li>
      </ol>
    </nav>
  </div>
</div>

<section id="starter-section" class="starter-section section">
  <div class="container section-title">
    <h2>Starter Section</h2>
    <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
  </div>
  <div class="container">
    <p>Use this page as a starter for your own custom pages.</p>
  </div>
</section>
