<div class="donation-banner">
  <div class="row align-items-center">
    <div class="col-lg-8 mb-3 mb-lg-0">
      <h3>{{ ctaTitle or 'Podržite naš rad' }}</h3>
      <p>{{ ctaBody or 'Pridružite nam se u izgradnji zajednice koja podržava roditelje i decu.' }}</p>
    </div>
    <div class="col-lg-4 text-lg-end">
      <a href="{{ (ctaUrl or '/savetovanje/') | url }}" class="btn btn-primary btn-lg">{{ ctaLabel or 'Saznaj više' }}</a>
    </div>
  </div>
</div>
