<div class="page-title light-background">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0">{{ pageTitle or title }}</h1>
    <nav class="breadcrumbs">
      <ol>
        <li><a href="/">Početna</a></li>
        <li class="current">{{ breadcrumb or pageTitle or title }}</li>
      </ol>
    </nav>
  </div>
</div>
