<script src="/assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="/assets/js/vendor/swiper-bundle.min.js"></script>
<script src="/assets/js/vendor/glightbox.min.js"></script>
<script src="/assets/js/main.js"></script>
