<script src="{{ '/assets/js/vendor/bootstrap.bundle.min.js' | url }}"></script>
<script src="{{ '/assets/js/vendor/swiper-bundle.min.js' | url }}"></script>
<script src="{{ '/assets/js/vendor/glightbox.min.js' | url }}"></script>
<script src="{{ '/assets/js/main.js' | url }}"></script>
